@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

body {
  margin: 0;
  padding: 20px 40px;
  font-family: 'Acme', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

/* @media screen and (max-width: 2160px) {
  html {
    -moz-transform: scale(3, 3);
    zoom: 3;
    zoom: 300%;
  }
} */
